<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'flashcards/site.css' %}"/>
    <link rel="stylesheet" href="{% static 'flashcards/boot/css/bootstrap.min.css' %}"/>
    {% include 'django_quill/media.html' %}
    <script src="https://kit.fontawesome.com/7b09205e5d.js" crossorigin="anonymous"></script>
    {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> {% endcomment %}
    
</head>

<body>
<div class="navbar">
    <a class="navbar-brand">Flashcards</a>
    <div class="vertical-line"></div>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a href="{% url 'decks' %}" class="navbar-link">Home</a>
        </li>
    </ul>
</div>
<div class="content">
    <div class="content-body">
        <div class="left-margin"></div>
        <div class="content-body-middle">
            {% block content %}
            {% endblock %}
        </div>
        <div class="right-margin"></div>
    </div>
</div>


<footer class="footer">
    <div>
        <span>John Behling 2023 | </span>
        <a class="badge badge-pill badge-light" href="https://www.linkedin.com/in/john-behling">LinkedIN</a>
    </div>
</footer>

<div id="modal" class="modal fade" tabindex="-1">
    <div id ="dialog" class="modal-dialog" hx-target="this">
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'flashcards/boot/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'flashcards/boot/js/bootstrap.min.js' %}"></script>
<script src="https://unpkg.com/htmx.org@1.8.2"></script>
{% comment %} <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> {% endcomment %}
<script src="{% static 'flashcards/flashcards.js' %}"></script>

</body>
</html>